body {
  background-color: rgba(85, 68, 136, 0.23);
  font-family: "Roboto Condensed", sans-serif;
}

.wrapper {
  min-height: 0 !important;
}

.centered-form {
  margin: 2em auto;
  width: 500px;
}

.free-trial-picture-container {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  background: #548;
}

.free-trial-content {
  padding-top: 9px;
  text-align: center;
  color: white;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.fill-form {
  text-align: center;
  font-size: 23px;
  margin-top: 38px;
  font-family: "Roboto Condensed-Light", sans-serif;
}

.action {
  margin: 3% 15% -12% 15%;
}

.free-trial-intro {
  margin-bottom: 2em;
  font-size: 1.1em;
}
